---
import * as resume from "./resume/resume.md";
const compiled = await resume.compiledContent();
const posts = Object.values(import.meta.glob("./resume/*.md", {eager: true}))
---
<h1>Derrick La</h1>

<Fragment set:html={compiled} />

<p>Post Archive:</p>
<ul>
  {
    posts.map((post: any) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</ul>