<div>
    <p>
        Some information here. tell your story, skills, and background. make it
        responsive maybe sections
    </p>
    <div>
        <h2>Derrick La</h2>
        <h3>Developer</h3>
        <div>
            <div>
                <h4>INFO</h4>
                <p>SOME INFO ABOUT MY JORUNEY</p>
            </div>
            <div>
                <h4>UNIVERSITY</h4>
                <p>SOME INFO ABOUT THE UNI I WENT TO</p>
            </div>
            <div>
                <h4>PASSIONS</h4>
                <p>SOME I DID BEYOND DEVELOPER WORK</p>
            </div>
        </div>
    </div>
    <div>
        <h2>Mindset</h2>
        <h3>some inspo text here</h3>
        <!-- some pictures here -->
    </div>
    <div>
        <div>
            <!-- images here a profile pick -->
        </div>
        <div>
            <h2>Toronto, Canada</h2>
            <h2>Coordinates</h2>
            <h2>GMT ZONE</h2>
        </div>
    </div>
    <div>
        <h2>Craft</h2>
        <h3>some craft text here</h3>
        <div>
            <!-- rotating careosuel of tech stacks i have used -->
        </div>
    </div>
</div>
